@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    width: 1440px;
    color: #ccc;
    position: relative;
     background-color: #181824; 
}

h1{
    text-transform: uppercase;
    font-weight: 700;
    position: absolute;
    top: 29%;
    left: 31%;
}
header{
    display: inline-block;
    position: relative;
    width: 100%;
    background:url(images/bg-desktop-dark.jpg);
    background-position: center;
    background-size: cover;
    height:300px; 
}
.sun-svg {
    position: absolute;
    top: 29%;
    right: 35%;
}
input{
    padding:1rem;
    width:65%;
    background-color: #25273C;
    color: #25273C;
    border: 1px solid transparent;
    margin-bottom: 50px;
    
}

.box-main {
    position: absolute;
    top:50%;
    left:32%;
    width: 50%;
}

.box-lst {
    padding: 1rem;
    width:65%;
    background-color: #25273C;
    color:#ccc;
    border: 1px solid  #25273C;
    box-shadow: 2px 2px 2px #25273C;
    margin-bottom: 2px;
    z-index: 1000;
}

.box {
    list-style: none;
}
button{
    border: 1px solid #8f77e8;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    border-radius: 100%;
    cursor: pointer;
    background-color: #9E85FE;
    text-align: center;
}
.btn-lst{
   background-color:transparent; 
}


span{
    float: right;
    cursor: pointer;
}

.btn-lst-inpt {
    position: absolute;
    left:2%;
    top:4%;
    margin-right: 10px;
    background-color: transparent;
}
